.checkout {
    display: flex;
    padding: 1.25rem;
    background-color: #fff;
    height: max-content;
      
    @media only screen and (max-width:850px) {
        display: block;
    }
}



.checkout__ad { 
    width: 100%;
    margin-bottom: 0.625rem;
}

.checkout__title {
    margin-right: 0.625rem;
    padding: 0.631rem;
    border-bottom: .063rem solid lightgray;
    
       
}

