.payment__section {
    font-style: normal;
}

.payment {
    background-color: #fff;

}

.payment__container > h1 {


    text-align: center;
    padding: .625rem;
    font-weight: 400;
    background-color: rgb(234, 237,237);
    border-bottom: .063rem solid lightgray;

}


.payment__container > h1 a {
    text-decoration: none;
}

.payment__section {
    display: flex;
    padding: 1.25rem;
    margin: 0 1.25rem;
    border-bottom: .063rem solid lightgray;
}

.payment__title {
    flex: .2;
}

.payment__address {
    flex: .8;
}