.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: .625rem;
  padding: 1.25rem;
  width: 100%;
  max-height: 25rem;
  min-width: 6.25rem;
  background-color: white;
  z-index: 1;
}

.product > img {
  max-height: 12.5rem;
  width: 100%;
  object-fit: contain;
  margin-bottom: .938rem;
}

.product:hover {
  scale: 105%;
  transition: all .5s;
}

.product:not(:hover) {
  scale: 98%;
}

.product__price {
  margin-top: .313rem;
}

.product__rating {
  display: flex;
}

.product > button {
  background-color: #f0c14b;
  border: .063rem solid;
  margin-top: .625rem;
  border-color: #a88734 #9c7e31 #846a29;
}


.product > button:hover {
  box-shadow: .125rem .125rem  gray;
  scale: 1.2;
  transition: all .3s;
}


.product__price {
  margin-top: .313rem;

  @media only screen and (max-width:775px) {
    display: inline-block;
  }
}

.product__info {
  height: 6.25rem;
  margin-bottom: .938rem;


  @media only screen and (max-width:777px) {
    text-align: justify;
    font-size: .2rem;

  }
}
